

/*navigavny panel*/
.logo {
    height: 35px;
}

.login {
    overflow: hidden;
    right: 10px;
    margin-left: auto;


}
.nav-item a:hover {
    color: indianred;

}
.navbar-brand{
    font-size: smaller;
}
.navbar {
    position: sticky;
}

/* hl stranka*/
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {

    object-fit: cover;
    object-position: center;
    height: 100%;

}
